.portfolio {
  text-align: center;
}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 80px;
}
.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}

.projects {
  margin: 80px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  text-align: center;
}

.projects Link {
  padding: 50px 0;
}

.item {
  border-radius: 5px;
}

.item:hover {
  border: 1px solid rgb(57, 255, 232);
}
